<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title">AptoGen</span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation -->
    <nav class="mdl-navigation mdl-js-ripple-effect ">
      <a class="mdl-navigation__link {{ page.home }}" href="">Home</a>
      <a class="mdl-navigation__link {{ page.projects }}" href="">Portfolio</a>
    </nav>
  </div>
</header>
