---
---

@import "palette_color";

.mdl-layout__header {
  background-color: #424242;
}

.is-active {
  border-bottom: 3px solid #FFAB91;
}

.mdl-grid:nth-of-type(even) {
  background-color: #efffee;

}

.mdl-grid:nth-of-type(even) {
  background-color: #efffee;

}

.banner {
  height: 650px;
  color: #FFAB91;
}

.woodboard, .woodzoom {
  color: white;
}

.woodboard {
  background-image: url("../images/wood-boards.jpeg");
  background-size: initial;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 40%;

  // position: absolute;
  filter: brightness(80%) contrast(70%);
}

.woodzoom {
  background-image: url(../images/wood-zoom.jpeg);
  background-size: initial;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 40%;

  // position: absolute;
  filter: brightness(80%) contrast(70%);
}
