---
---

@import "palette_color";

body {
  background-color: #efffee;

}

banner {
  height: 400px;
}

.wood-bg {
  background-image: url("../images/wood-boards.jpeg");
  background-size: 100% 400px;
  background-repeat: no-repeat;

  // position: absolute;
  filter: brightness(80%) contrast(70%);
}
