---
---

@import "palette_color";

nav:active {
  border-color: #FFAB91;
}

.mdl-grid {
  background-color: #efffee;

}

.banner {
  height: 650px;

}

.woodboard, .woodzoom {
  color: white;
}

.woodboard::after {
  background-image: url("../images/wood-boards.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 40%;

  // position: absolute;
  filter: brightness(80%) contrast(70%);
}

.woodzoom::before {
  background-image: url(../images/wood-zoom.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 40%;

  // position: absolute;
  filter: brightness(80%) contrast(70%);
}
